<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="60">
    <mat-card-content>
      <mat-form-field fxFlex>
        <mat-select [(ngModel)]="source" placeholder="Change source" (selectionChange)="changeSource()">
          <mat-option value="client" selected>client</mat-option>
          <mat-option value="server">server</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
<pm-dashboard-card [lastPost]="lastPostParamA" usingType="https://instagram.com/username/?__a=1"></pm-dashboard-card>
<pm-dashboard-card [lastPost]="lastPostGraphQl" usingType="https://www.instagram.com/graphql"></pm-dashboard-card>
