<div fxLayout="row" *ngIf="!post.url">
  <div fxFlex="20%"></div>
  <div fxFlex>
    <md-card>
      <md-card-content class="progress">
        <md-progress-bar color="primary" mode="indeterminate" value="50" bufferValue="75"></md-progress-bar>
      </md-card-content>
    </md-card>
  </div>
  <div fxFlex="20%"></div>
</div>
<div fxLayout="row" *ngIf="post.url">
  <div fxFlex="10%" fxFlex.gt-xs="20%" fxFlex.gt-sm="30%" fxFlex.gt-md="35%"></div>
  <div fxFlex>
    <md-card class="card">
      <md-card-header>
        <md-card-title>
          date: {{post.date}} | likes: {{post.likes}}
        </md-card-title>
      </md-card-header>
      <img md-card-image src="{{post.url}}">
    </md-card>
  </div>
  <div fxFlex="10%" fxFlex.gt-xs="20%" fxFlex.gt-sm="30%" fxFlex.gt-md="35%"></div>
</div>
