<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="60">
    <mat-card-header>
      <mat-card-title>
        Using: {{ usingType }}
        <br>
        <span *ngIf="lastPost.responseCode">
          <span *ngIf="isSuccess()">
            <br>
            date: {{ lastPost.date | date: 'shortDate' }} | likes: {{ lastPost.likes }}
          </span>
          <span *ngIf="!isSuccess()">
            <br>
            Please try again later. There are currently some errors.<br>
            Response code: {{ lastPost.responseCode }}.
          </span>
        </span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="progress">
      <mat-progress-bar *ngIf="!lastPost.responseCode" color="primary" mode="indeterminate" value="50"></mat-progress-bar>
      <video *ngIf="isSuccess() && lastPost.video" src="{{ lastPost.video }}" autoplay poster="{{ lastPost.picture }}"></video>
      <img *ngIf="isSuccess() && !lastPost.video" src="{{ lastPost.picture }}">
    </mat-card-content>
  </mat-card>
</div>
