<div fxLayout="row" *ngIf="!post.responseCode">
  <div fxFlex="20%"></div>
  <div fxFlex>
    <mat-card>
      <mat-card-content class="progress">
        <mat-progress-bar color="primary" mode="indeterminate" value="50" bufferValue="75"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="20%"></div>
</div>
<div fxLayout="row" *ngIf="post.responseCode">
  <div fxFlex="10%" fxFlex.gt-xs="20%" fxFlex.gt-sm="30%" fxFlex.gt-md="35%"></div>
  <div fxFlex>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title *ngIf="post.responseCode.includes('200')">
          date: {{post.date | date: 'shortDate'}} | likes: {{post.likes}}
        </mat-card-title>
        <mat-card-title *ngIf="!post.responseCode.includes('200')">
          Please try again later. There are currently some errors.<br />
          Response code: {{post.responseCode}}.
        </mat-card-title>
      </mat-card-header>
      <img *ngIf="post.responseCode.includes('200')" mat-card-image src="{{post.picture}}">
    </mat-card>
  </div>
  <div fxFlex="10%" fxFlex.gt-xs="20%" fxFlex.gt-sm="30%" fxFlex.gt-md="35%"></div>
</div>
