<div fxLayout="row">
  <div fxFlex="20%"></div>
  <div fxFlex>
    <md-card *ngIf="!authService.isAuthenticated">
      <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()" novalidate>
        <md-form-field class="full-width">
          <input mdInput placeholder="username" formControlName="username" required>
          <md-error>Please enter a valid username</md-error>
        </md-form-field>
        <md-form-field class="full-width">
          <input type="password" mdInput placeholder="password" formControlName="password" required>
          <md-error>Please enter a valid password</md-error>
        </md-form-field>
        <button md-raised-button color="primary">Login</button>
      </form>
    </md-card>
    <md-card *ngIf="authService.isAuthenticated">
      You are logged in. You can <a href="#" (click)="logout($event)">logout</a>.
    </md-card>
  </div>
  <div fxFlex="20%"></div>
</div>
