<div fxLayout="row">
  <div fxFlex="20%"></div>
  <div fxFlex>
    <md-card>
      <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()" novalidate>
        <md-input-container class="full-width">
          <input mdInput placeholder="username" formControlName="username">
        </md-input-container>
        <md-input-container class="full-width">
          <input type="password" mdInput placeholder="password" formControlName="password">
        </md-input-container>
        <button md-raised-button color="primary">Login</button>
      </form>
    </md-card>
  </div>
  <div fxFlex="20%"></div>
</div>
