@use '@angular/material' as mat;

@include mat.core();
mat.$theme-ignore-duplication-warnings: true;

.indigo-pink-theme {
  $indigo-pink-theme: mat.define-light-theme((
    color: (
      primary: mat.define-palette(mat.$indigo-palette, 500),
      accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
    ),
    typography: mat.define-typography-config(),
  ));

  @include mat.all-component-themes($indigo-pink-theme);
}

.deeppurple-amber-theme {
  $deeppurple-amber-theme: mat.define-light-theme((
    color: (
      primary: mat.define-palette(mat.$deep-purple-palette, 500),
      accent: mat.define-palette(mat.$amber-palette, A200, A100, A400),
    ),
    typography: mat.define-typography-config(),
  ));

  @include mat.all-component-themes($deeppurple-amber-theme);
}

.pink-bluegrey-theme {
  $pink-bluegrey-theme: mat.define-dark-theme((
    color: (
      primary: mat.define-palette(mat.$pink-palette, 500),
      accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400),
    ),
    typography: mat.define-typography-config(),
  ));

  @include mat.all-component-themes($pink-bluegrey-theme);
}

.purple-green-theme {
  $purple-green-theme: mat.define-dark-theme((
    color: (
      primary: mat.define-palette(mat.$purple-palette, 500),
      accent: mat.define-palette(mat.$green-palette, A200, A100, A400),
    ),
    typography: mat.define-typography-config(),
  ));

  @include mat.all-component-themes($purple-green-theme);
}

.custom-light-theme {
  $custom-light-theme: mat.define-light-theme((
    color: (
      primary: mat.define-palette(mat.$light-blue-palette, 500),
      accent: mat.define-palette(mat.$orange-palette, A200, A100, A400),
    ),
    typography: mat.define-typography-config(),
  ));

  @include mat.all-component-themes($custom-light-theme);
}

.custom-dark-theme {
  $custom-dark-theme: mat.define-dark-theme((
    color: (
      primary: mat.define-palette(mat.$grey-palette, 500),
      accent: mat.define-palette(mat.$blue-palette, A200, A100, A400),
    ),
    typography: mat.define-typography-config(),
  ));

  @include mat.all-component-themes($custom-dark-theme);
}

.mat-mdc-tab-nav-bar, .mat-mdc-tab-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
