<div fxLayout="row" *ngIf="!lastPost.responseCode">
  no code
  <div fxFlex="20%"></div>
  <div fxFlex>
    <mat-card>
      <mat-card-content class="progress">
        <mat-progress-bar color="primary" mode="indeterminate" value="50" bufferValue="75"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="20%"></div>
</div>
<div fxLayout="row" *ngIf="lastPost.responseCode">
  <div fxFlex="10%" fxFlex.gt-xs="20%" fxFlex.gt-sm="30%" fxFlex.gt-md="35%"></div>
  <div fxFlex>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title *ngIf="lastPost.responseCode.includes('200')">
          date: {{ lastPost.date | date: 'shortDate' }} | likes: {{ lastPost.likes }}
        </mat-card-title>
        <mat-card-title *ngIf="!lastPost.responseCode.includes('200')">
          Please try again later. There are currently some errors.<br />
          Response code: {{ lastPost.responseCode }}.
        </mat-card-title>
      </mat-card-header>
      <img *ngIf="lastPost.responseCode.includes('200')" mat-card-image src="{{lastPost.picture}}">
    </mat-card>
  </div>
  <div fxFlex="10%" fxFlex.gt-xs="20%" fxFlex.gt-sm="30%" fxFlex.gt-md="35%"></div>
</div>
